@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<p class="mb-4 text-gray-600">
    You have requested to log in with a recovery code. This login will not be remembered until you provide
    an authenticator app code at log in or disable 2FA and log in again.
</p>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label class="form-group" asp-for="Input.RecoveryCode">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.RecoveryCode)</span>
        <input asp-for="Input.RecoveryCode" class="form-input" autocomplete="off" />
    </label>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>

<hr class="my-4" />

<p class="text-gray-600">
    Found your code? Go back and <a asp-page="./LoginWith2fa" asp-route-returnUrl="@Model.ReturnUrl" asp-route-rememberMe="@Model.RememberMe">log in with your code</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
