@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Input.Email" class="form-group">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.Email)</span>
        <input asp-for="Input.Email" class="form-input" />
    </label>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Resend</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
