<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Honeydew</title>
<meta name="description" content="Upload your files and share them anywhere with Honeydew!" />

<link rel="icon" type="image/svg+xml" href="~/favicon.svg">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
