<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honeydew</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="bg-gray-100">
    <header class="bg-white shadow border-b">
        <nav class="flex items-center justify-between space-x-4 p-4">
            <a class="brand" asp-area="" asp-page="/">Honeydew</a>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <main role="main" class="container p-4">
        @RenderBody()
    </main>

    <footer class="sticky bottom-1 border-t border-gray-400 text-gray-600">
        <div class="container">
            &copy; 2020 - Honeydew - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
