<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Honeydew</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="h-screen flex flex-col bg-gray-100">
    @if (!((ViewData["HideHeader"] is bool hide) && hide))
    {
        <header>
            <nav class="flex items-center justify-between space-x-4 p-4">
                <a class="brand" asp-area="" asp-page="/Index">Honeydew</a>
                <partial name="_LoginPartial" />
            </nav>
        </header>
    }

    <main role="main" class="flex-grow mx-auto">
        @RenderBody()
    </main>

    <footer class="flex items-center justify-center p-4 text-gray-600">
        &copy; 2020 - Honeydew
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
