@page "/{id?}"
@using Honeydew.Models
@model Honeydew.Pages.ViewUploadModel
@{
    ViewData["Title"] = "ViewUpload";
}

@if (Model.Upload == null)
{
    <h1>Nothing here!</h1>


    return;
}


@if (Model.Upload.Status == UploadStatus.Pending)
{
    @section Head {
        <meta http-equiv="refresh" content="1">
    }

    <h1>Your file is still uploading. Come back when it's done! :) The page will refresh until it's done.</h1>

    return;
}

<h1>ViewUpload @Model.Id it'sameeeeee</h1>

@if (Model.IsImage)
{
    <img src="/storage/@Model.Upload?.Id" />
}

<video src="/storage/@(Model.Upload?.Id + Model.Upload?.Extension)"></video>