@use "sass:color";
@tailwind base;
@tailwind components;
@tailwind utilities;

a[href],
.link {
  @apply text-purple-500;

  &:hover {
    @apply text-purple-700;
  }
}

header {
  @apply bg-purple-900 shadow border-b;

  a[href] {
    @apply text-purple-300;

    &:hover {
      @apply text-purple-100;
    }
  }

  .brand {
    @apply text-xl;
    color: theme('textColor.purple.100') !important;
  }
}

.form-input,
.form-select {
  @apply block w-full h-8 px-2 py-0 text-sm;
}

.form-group {
  @apply flex;

  .form-input {
    @apply border-r-0 rounded-r-none border-gray-200;
    outline: none !important;

    &:focus,
    &:active {
      @apply border-gray-400;
    }
  }

  .form-attachment {
    @apply h-8 px-2 flex items-center text-sm border-t border-r border-b rounded rounded-l-none bg-gray-100 text-gray-600;
  }
}

input, select {
  &.loading {
    @apply bg-purple-200;
    background-repeat: repeat;
    background-size: theme('height.8');
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    animation: loading 1s linear infinite;
  }
}

@keyframes loading {
  from {
    background-position: theme('height.8') 0;
  }

  to {
    background-position: 0 0;
  }
}


.upload-container {
  @apply mt-4;
  width: calc(100vw - theme('margin.8'));

  @screen md {
    @apply mt-16;
    width: calc(100vw - theme('margin.32'));
  }

  @screen lg {
    // Continue from the last breakpoint smoothly scaling up
    min-width: calc((theme('screens.lg') - 1px) - theme('margin.32'));
    width: 70vw;
    max-width: theme('screens.xl');
  }

  & > *:first-child {
    flex-grow: 1;
    outline: none;
  }
}

.file-input-select-button {
  &:hover {
    animation: bounce .2s ease-in infinite;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}

.update-or-left-chevron,
.update-or-right-chevron {
  display: inline-block;
}

.upload-bar {
  &:hover {
    .upload-or-left-chevron {
      animation: animate-bounce-left .2s ease-in-out 2;
    }

    .upload-or-right-chevron {
      animation: animate-bounce-right .2s ease-in-out 2;
    }
  }
}

@keyframes animate-bounce-left {
  0%, 100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes animate-bounce-right {
  0%, 100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}
