@use "sass:color";
@tailwind base;
@tailwind components;

.min-h-16 {
  min-height: theme('height.16');
}

p ~ p {
  @apply mt-4;
}

code {
  @apply text-sm text-red-700 bg-gray-200 p-1;
}

a,
.link {
  @apply text-purple-500;

  &:hover {
    @apply text-purple-700;
  }
}

header {
  @apply bg-purple-900 shadow border-b;

  a[href] {
    @apply text-purple-300;

    &:hover {
      @apply text-purple-100;
    }
  }

  .brand {
    @apply text-xl;
    color: theme('textColor.purple.100') !important;
  }
}

.btn {
  @apply h-8 px-2 border rounded;

  &.btn-primary {
    @apply text-purple-500;

    &:hover {
      @apply text-purple-700;
    }
  }
}

.form-group {
  @apply block;

  & ~ .form-group {
    @apply mt-4;
  }

  .form-label {
    @apply font-semibold text-gray-700;
  }

  .form-input {
    @apply mt-1 block w-full;
  }

  .form-text {
    @apply block text-sm mt-2 text-gray-600;
  }

  .input-validation-error {
    @apply border border-red-500;
  }

  .field-validation-error {
    @apply block text-sm mt-2 text-red-500;
  }
}

.alert {
  @apply border-l-4 p-2 my-2;

  @screen sm {
    @apply p-4;
  }

  &.alert-info {
    @apply bg-blue-100 border-blue-500 text-blue-700;
  }

  &.alert-success {
    @apply bg-green-100 border-green-500 text-green-700;
  }

  &.alert-warn {
    @apply bg-yellow-100 border-orange-500 text-yellow-700;
  }

  &.alert-error {
    @apply bg-red-100 border-red-500 text-red-700;
  }
}

.validation-summary-errors {
  @extend .alert, .alert-error;
  @apply mt-0 mb-6;
}

@tailwind utilities;

.loading {
  @apply bg-purple-200;
  background-repeat: repeat;
  background-size: theme('height.8');
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    background-position: theme('height.8') 0;
  }

  to {
    background-position: 0 0;
  }
}


.upload-container {
  @apply mt-4;
  width: calc(100vw - theme('margin.8'));

  @screen md {
    width: calc(100vw - theme('margin.32'));
  }

  @screen lg {
    // Continue from the last breakpoint smoothly scaling up
    min-width: calc((theme('screens.lg') - 1px) - theme('margin.32'));
    width: 70vw;
    max-width: theme('screens.xl');
  }

  & > *:first-child {
    flex-grow: 1;
    outline: none;
  }
}

.file-input-select-button {
  &:hover {
    animation: bounce .2s ease-in infinite;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}

.update-or-left-chevron,
.update-or-right-chevron {
  display: inline-block;
}

.upload-bar {
  &:hover {
    .upload-or-left-chevron {
      animation: animate-bounce-left .2s ease-in-out 2;
    }

    .upload-or-right-chevron {
      animation: animate-bounce-right .2s ease-in-out 2;
    }
  }

  .upload-status:not(.hidden) {
    animation: animate-in .7s forwards;
  }

  @keyframes animate-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@keyframes animate-bounce-left {
  0%, 100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }
}

@keyframes animate-bounce-right {
  0%, 100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}

$color1: #444;
$color2: #333;
$size: 20px;

$background-item: linear-gradient(45deg, $color1 25%, transparent 25%, transparent 75%, $color1 75%), linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);

.img {
  max-height: 70vh;
  object-fit: contain;
}

.video {
  // h-screen - margin top of the page - height of the controls - height of the footer
  max-height: calc(100vh - theme('margin.4') - (theme('height.12') + theme('height.16')));
}

.img,
.video,
.checkered-background {
  background-image: $background-item;
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
}

.error-code {
  @apply font-bold font-mono;
  font-size: 8rem;

  @screen md {
    font-size: 14rem;
  }
}
